# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# Redis
REDIS_PASSWORD=1234

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB_NAME=keycloak_db
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=1234
KEYCLOAK_REALM=easymeal
KEYCLOAK_CLIENT_ID=easymeal-gateway

# 서비스별 DB 비밀번호
USER_DB_PASSWORD=1234
COMPANY_DB_PASSWORD=1234
PRODUCT_DB_PASSWORD=1234
CART_DB_PASSWORD=1234
ORDER_DB_PASSWORD=1234
PAYMENT_DB_PASSWORD=1234
SHIPMENT_DB_PASSWORD=1234
NOTIFICATION_DB_PASSWORD=1234
REVIEW_DB_PASSWORD=1234
CUSTOMER_DB_PASSWORD=1234
